body {
    margin: 1rem;
    font-family: sans-serif;
    background-color:#1E1E1E;
    
}

h1 {
    color: #FFFFFF;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

nav.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 0 20px;
}

nav .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    font: #FFFFFF;
  }

  nav .nav-links li a {
    color: white;         /* Sätt önskad färg */
    text-decoration: none;
  }

#productList {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.product-card {
    background-color: #262B33;
}